<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Adicionando os arquivos do Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>
  <title>Concluído</title>
</head>
<body>


  <script>
  function copyLink() {
    var link = "{{ url }}";
    navigator.clipboard.writeText(link);
    alert("Link copiado para a área de transferência!");
  }
  </script>
  <div class="container text-center mt-5">
    <img width="350px" src="data:image/png;base64, {{ qr_code }}" alt="QR Code" class="img-fluid">
    <p>Seus arquivos estão disponíveis na url {{ url }}</p>
    <button onclick="copyLink()" class="btn btn-primary mt-3">Copiar link</button>
    </br>
    <a href="/" class="btn btn-success mt-3">voltar</a>
  </div>
</body>
</html>